{{ partial "header.html" . }}

<h1 class="post-title">{{ .Title }}</h1>

<span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>

{{ if .Params.image }}
	<img src="{{ .Params.image }}" >
{{ end }}

{{ .Content | safeHTML }}

{{ with .Params.tags }}
  <div class="tags">
    {{ range . }}
      <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">#{{ . }}</a>
    {{ end }}
  </div>
{{ end }}

{{ if and (eq .Kind "page") (eq .Section "posts") }}
<div style="display: flex; gap: 1rem;">
  {{ partial "upvote.html" . }}
  {{ partial "traktir-kopi.html" . }}
</div>
{{ end }}


{{ partial "footer.html" . }}
