</main>

<footer style="text-align: center; line-height: 1.4;">
  <div style="margin-bottom: 0.8rem;">
    {{ if ne .Site.Params.Footer.hideRSSAndEmail true }}
      <!-- Enable RSS and email exists -->
      {{ if and ( ne .Site.Params.RSS.enableRSS false ) .Site.Params.Author.email }}
      <p style="margin: 0.3rem 0;">Subscribe via <a href="/index.xml">RSS</a> or just <a href="mailto:{{ .Site.Params.Author.email }}">say hello</a></p>
      {{ end }}
      <!-- Enable RSS and email does not exists -->
      {{ if and ( ne .Site.Params.RSS.enableRSS false ) (not .Site.Params.Author.email) }}
      <p style="margin: 0.3rem 0;">Subscribe via <a href="/index.xml">RSS</a></p>
      {{ end }}
      <!-- Do not enable RSS and email exists -->
      {{ if and ( ne .Site.Params.RSS.enableRSS true ) .Site.Params.Author.email }}
      <p style="margin: 0.3rem 0;">Say hello via <a href="mailto:{{ .Site.Params.Author.email }}">email</a></p>
      {{ end }}
    {{ end }}

    {{ if ne .Site.Params.Footer.hideSitemap true }}
    <p style="margin: 0.3rem 0;">🗺️ <a href="/sitemap.xml">Sitemap</a></p>
    {{ end }}
  </div>
  
  <p style="margin: 0.5rem 0 0;">&copy;{{ dateFormat "2006" now }} {{ .Site.Title }}</p>
</footer>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>
