{{ $title := .Title }}
{{ if not .IsHome }}
  {{ $title = printf "%s | %s" .Title .Site.Title }}
{{ else }}
  {{ $title = .Site.Title }}
{{ end }}

{{ $description := or .Params.description .Site.Params.description }}

{{/* Perbaikan untuk keywords: Periksa jika .Params.keywords ada dan jika .Site.Params.keywords ada, baru gunakan delimit */}}
{{ $keywords := "" }}
{{ if .Params.keywords }}
    {{ if reflect.IsSlice .Params.keywords }} {{/* Pastikan .Params.keywords adalah slice/array */}}
        {{ $keywords = delimit .Params.keywords ", " }}
    {{ else if reflect.IsString .Params.keywords }} {{/* Jika salah diatur sebagai string, gunakan langsung */}}
        {{ $keywords = .Params.keywords }}
    {{ end }}
{{ else if .Site.Params.keywords }}
    {{ if reflect.IsSlice .Site.Params.keywords }} {{/* Pastikan .Site.Params.keywords adalah slice/array */}}
        {{ $keywords = delimit .Site.Params.keywords ", " }}
    {{ else if reflect.IsString .Site.Params.keywords }} {{/* Jika salah diatur sebagai string, gunakan langsung */}}
        {{ $keywords = .Site.Params.keywords }}
    {{ end }}
{{ end }}

<title>{{ $title | safeHTML }}</title>
<meta name="description" content="{{ $description | safeHTML }}" />
{{ if $keywords }} {{/* Hanya tampilkan meta keywords jika $keywords tidak kosong */}}
<meta name="keywords" content="{{ $keywords | safeHTML }}" />
{{ end }}
<meta name="author" content="{{ .Site.Params.author }}" />

<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:type" content="{{ or .Site.Params.opengraph.type "website" }}" />
<meta property="og:site_name" content="{{ .Site.Params.opengraph.site_name }}" />
<meta property="og:image" content="{{ with or .Params.image .Site.Params.opengraph.image }}{{ . | absURL }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ with or .Params.image .Site.Params.opengraph.image }}{{ . | absURL }}{{ end }}" />
